<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>
<body>
    <header class="headerPrin">
        <h1>Baguer </h1> <span> S.A.S</span>
    </header>
    <nav class="NavCont">
        <ul class="ulContPrin">
            <li>
                <a href="#">Modulo Usuario</a>
            </li>
            <li>
                <a href="#">Modulo Empleado</a>
            </li>
            <li>
                <a href="#">Cliente</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ul>
    </nav>

    <main class="mainCont">

    </main>
</body>
</html>